*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.main-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 0.8fr 4fr;
  height: 180px;
  margin-right: 1%;
}

.main-content {
  display: grid;
  gap: 1rem;
}

.side-menu {
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
}

.search-bar {
  margin-top: 1%;
  width: 100%;
  /* height: 50px; */
}

.welcome {
  width: 100%;
}

.info-menu {
  width: 100%;
}

.main-info {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
}

.net-profit {
  background-color: black;
}

.store {
  background-color: black;
}

.product {
  background-color: black;
}

.visitor {
  background-color: black;
}

/* .monthly {
  background-color: rgb(206, 68, 68);
  height: 400px;
} */

.selling-product {
  background-color: rgb(51, 144, 101);
  height: 400px;
}
