.news {
  background-color: #f9f9f9;
  border-radius: 50px;
  height: 800px;
}

.cont {
  position: absolute;
  top: 566px;
  left: 450px;
  padding: 25px 0 0 25px;
}

.cont2 {
  position: absolute;
  top: 635px;
  left: 1000px;
  padding: 25px 0 0 25px;
}

.cont p {
  padding-top: 30px;
}

.top {
  height: 100%;
}

.diagrama {
  position: absolute;
  top: 850px;
  left: 420px;
}
