.nav-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 90%;
  border-radius: 50px;
  color: #aaaaaa;
  height: 60px;
}

.btn {
  border: none;
  cursor: pointer;
}

.nav-btn .img {
  margin-left: 20px;
  height: 20px;
  width: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-btn a {
  text-decoration: none;
  color: #8c8c8c;
  margin-left: 10px;
}

.nav-btn:hover {
  background-color: #232323;
}
